@import '../../vars.css';
.panel{
    background-color: #1f252f;
    padding: 40px;
    border-radius: 40px;
    width: 300px;
    height: 300px;
    text-align: left;
}


.star{
    background: #272e38;
    border-radius: 100%;
    padding: 8px;
    width: 7%;
}
.thanks{
    background-color: #1f252f;
    padding: 40px;
    border-radius: 40px;
    width: 300px;
    height: 300px;
}

.delivered{
   background: #272e38; 
   height: 100px;
}

.title{
    font-size: 25px;
    margin-bottom: 10px;
}

.description{
    color: #7c828e;
    font-size: 15px;
}

.group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.rating{
    background: #272e38;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.rating:hover{
    background: #7e8797;
}

.rating:focus{
    background: var(--primary);
}

.submit{
    width: 100%;
    color: #ffff;
    padding: 10px;
    background: var(--primary);
    border-radius: 30px;
}

.submit:hover{
    color: var(--primary);
    background: #ffff;
}

.selected{
    color: var(--primary);
    border-radius: 40px;
    padding: 10px;
    background:#272e38;
    display: inline-block;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}